{{- $file := .Get "file" | default "config" -}}
{{- $code := $.Inner -}}
{{- $langs := (slice "toml" "yaml" "json") -}}
{{- $random := partialCached "func/getRandomString" (dict "limit" 8) -}}

<div class="dnb-config-codeblock">
  <ul class="nav nav-tabs" id="config-{{ $random }}" role="tablist">
    {{- with $file -}}
      <li class="nav-item" role="presentation">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">{{- . -}}.</a>
      </li>
    {{- end -}}
    {{- range $id, $lang := $langs -}}
      <li class="nav-item" role="presentation">
        <a class="nav-link{{- if eq $id 0 }} active{{- end -}}" href="#"
          id="{{- $lang -}}-tab" data-bs-toggle="tab"
          data-bs-target="#{{- $lang -}}" type="button"
          role="tab" aria-controls="{{- $lang -}}"
          aria-selected="{{- if eq $id 0 -}}true{{- else -}}false{{- end -}}">
          {{- $lang -}}
        </a>
      </li>
    {{- end -}}
  </ul>
  <div class="tab-content" id="config-tabs-{{ $random }}">
    {{- range $id, $lang := $langs -}}
      <div class="tab-pane fade{{- if eq $id 0 }} show active{{ end -}}"
           id="{{- $lang -}}"
           role="tabpanel"
           aria-labelledby="{{ $lang }}-tab">
        {{- highlight ($code | transform.Remarshal $lang | safeHTML) $lang "" -}}
      </div>
    {{- end -}}
  </div>
</div>
