{{- $apiKey := site.Params.dnb.exchangerates.api_key -}}
{{- $exchangerateApiUrl := printf "http://api.exchangeratesapi.io/v1/latest?access_key=%s" $apiKey -}}
{{- $exchangerates := getJSON $exchangerateApiUrl -}}

{{- partial "debugprint" $exchangerates -}}

{{ if eq $exchangerates.success false }}
<div class="error exchangerates">
  <h3>An error occured</h3>
  <p>
    <strong>{{ $exchangerates.error.code }}: </strong>
    {{ $exchangerates.error.info }}
  </p>
</div>
{{ else }}
  all ok
{{ end }}

{{/*

Exchangeratesapi.io

{
  success: true,
  timestamp: 1629374824,
  base: "EUR",
  date: "2021-08-19",
  rates: {
    THB: 39.000092,
    USD: 1.169762,
  }
}

*/}}
